<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB ERP {{  module  }}</title>
</head>
<body>

<p>This is the {{  module  }} Module </p>

<br>The following features are accessible:

<ul>
    <li><a href="/{{  route_name  }}/database_content">Show Database Content</a></li>
    <li><a href="/{{  route_name  }}/add_item">Add new item</a></li>
    <li> Update Item
    <form action="/{{  route_name  }}/update_item" method="get">
        <input type="text" name="item_id">
        <input type="submit" value="GO">
    </form>
    </li>
    <li>
        Remove item
        <form action="/{{  route_name  }}/delete_item" method="post">
            <input type="text" name="item_id">
            <input type="submit" value="DELETE">
        </form>
    </li>
    <br><li>Other elements will be added later</li>
</ul>

</body>
</html>